
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */

}
.Container{
    background-color: rgb(228, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
     height: 90vh;
}
.Box{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 70vw;
    height: 100vh;
    margin:10px;
    overflow-y: scroll; 
    scroll-behavior: smooth;

}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
     align-items: flex-start;
     /* flex-direction: column; */
}
.card{
    border: 1px solid #e0e0e0;
    width: 25vw;
    position: relative;
    height: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    /* width: calc(25% - 20px); */
}
.card img{
    height: 160px;
    /* width: 100%; */
    object-fit: cover;
}
@media (max-width: 767px) {
    .Container {
        
    }

    .Box {
        height: 85vh;
        margin: 5px;
    }
}