.Container{
    background-color: rgb(228, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
     height: 90vh;
}
.Box{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 70vw;
    height: 100vh;
    margin:10px;
    /* overflow-y: scroll;  */
    scroll-behavior: smooth;

}

@media (max-width: 767px) {
    .Container {
        
    }

    .Box {
        height: 85vh;
        margin: 5px;
    }
}